<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDICj07SzQ52aIoqA2nlGNIoVhBrf0YC4k</string>
	<key>GCM_SENDER_ID</key>
	<string>79053592280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hai.app</string>
	<key>PROJECT_ID</key>
	<string>hai-app-db3d5</string>
	<key>STORAGE_BUCKET</key>
	<string>hai-app-db3d5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79053592280:ios:fdacf029875a58cb9ea9ad</string>
</dict>
</plist>